:root {
    --black: #000000;
    --dark-grey: #545454;
    --light-grey: #F7F7F7;
    --orange: #FF6B08;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
ol {
    list-style: none;
}

img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.section {
    padding: 40px;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.is-hidden {
    display: none!important;
}