.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-item {
    width: calc(100% / 3 - 40px);
}

.movie-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border-top: none;
}

.movie-details {
    display: flex;
    justify-content: start;
    gap: 4px;
    align-items: center;
    color: var(--orange);
}

.movie-card img {
    border-radius: 8px;
}

.movie-card .movie-title {
    text-transform: uppercase;
}

.movie-card .movie-rating {
    color: var(--white);
    background-color: var(--orange);
    padding: 3px 10px 2px 10px;
    border-radius: 6px;
}

.loader {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(72, 107, 119);
    border-top: 3px solid var(--orange);
    border-radius: 50%;
    margin: 0 auto;
    animation: spinGoBRRRR 500ms ease-in-out infinite;
}

@keyframes spinGoBRRRR {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
