
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the body takes up the full viewport height */
}

main {
    flex: 1; /* Allow the main content to grow to fill the available space */
}

// .container {
//     max-width: 100%;
// }

// .movie-list {

//     // Mobile View
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 30px;

//     // tablet view
//     @media screen and (min-width: 768px) {
//         width: 768px;
//     }
//     // laptop view
//     @media screen and (min-width: 1024px) {
//         width: 1024px;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         gap: 30px;
//     }
// //     align-items: center;
// //     gap: 20px;
// }

// .movie-item {

//     // mobile view
//     position: relative;

//     // tablet view
//      @media screen and (min-width: 768px) {

//      }

//     // laptop view
//     @media screen and (min-width: 1024px) {
//         width: calc(100% / 3 - 40px);
//     }

// }

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-item {
    width: calc(100% / 3 - 40px);
}

.movie-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border-top: none;
}

.movie-details {
    display: flex;
    justify-content: start;
    gap: 4px;
    align-items: center;
    color: var(--orange);
}

.movie-card img {
    width: 300px;
    min-height: 450px;
    border-radius: 8px;
}

.movie-card .movie-title {
    text-transform: uppercase;
}

.movie-card .movie-rating {
    color: var(--white);
    background-color: var(--orange);
    padding: 3px 10px 2px 10px;
    border-radius: 6px;
}

.loader {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(72, 107, 119);
    border-top: 3px solid var(--orange);
    border-radius: 50%;
    margin: 0 auto;
    animation: spinGoBRRRR 500ms ease-in-out infinite;
    margin-bottom: 50vh;
}

@keyframes spinGoBRRRR {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:779px) { //mobile
    main .container {
        width: 320px;
    }

    .section {
        padding: 10px 0 10px 0;
    }

    main .movie-list {
        justify-content: center;
        padding-left: 10px;
        // gap: 10px;
    }

    main .movie-item {
        min-width: 100%;
    }

    main .movie-card {
        width: 300px;
    }
}

@media (min-width: 780px) and (max-width: 1199px) { //tablet
    main .container {
        width: 780px;
        // max-width: 100%;
    }
    .section {
        padding: 20px 0;
    }

    main .movie-list {
        justify-content: space-evenly;
        gap: 10px;
    }

    main .movie-item {
        width: calc(100% / 2 - 20px);
    }

    main .movie-item {
        width: 300px;
    }
}
