.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #72727280;
    z-index: 10;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 890px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 30px 20px;
    animation-name: scalesUp;
    animation-duration: 500ms;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: 300;
    cursor: pointer;
}

.modal-content {
    display: flex;
    gap: 20px;
}

.close-animation {
    animation-name: scalesDown;
    animation-duration: 500ms;
}

.modal-image img{
    width: 330px;
    height: 470px;
    border-radius: 8px;
    
}

.modal-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    overflow:auto;
}

.modal-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-item:not(:first-child) {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    text-transform: capitalize;
    max-width: 80%;

}

.modal-header {
    color: var(--dark-grey);
    opacity: .8;
}

.modal-details {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    
}

.modal-details .movie-title {
    font-size: 30px;
    line-height: 35px;
}

.modal-rating {
    background-color: var(--orange);
    color: var(--white);
    padding: 2px 13px;
    border-radius: 6px;
}

.modal-about {
    font-size: 12px;
    line-height: 20px;
}

.modal-about h4 {
    margin-bottom: 20px;
    font-weight: 16px;
}

.modal-buttons {
    display: flex;
    justify-content: start;
    gap: 7px;
    margin-top: 35px;
    padding-bottom: 60px;
}

.modal-button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--black);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

.modal-button:hover,
.selected {
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--white);
    background-color: var(--orange);
}

@keyframes scalesUp {

    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

}

@keyframes scalesDown {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

}
/* Media Queries */


@media only screen and (max-width: 882px) {
    .modal-container {
        width: 90%;
        max-width: 882px;
        padding: 20px;
    }
}


@media only screen and (max-width: 618px) {
    .modal-container {
        width: 90%;
        max-width: 618px;
    }
}


@media only screen and (max-width: 280px) {
    .modal-container {
        width: 90%;
        max-width: 280px;
        padding: 10px;
    }

    .modal-close {
        top: 5px;
        right: 5px;
        font-size: 25px;
    }

    .modal-content {
        flex-direction: column;
        gap: 10px;
    }
    img{
        margin-top: 40px;
    }

    .modal-image img {
        max-width: 100%;
        height: auto;
    }

    .modal-item:not(:first-child) {
        flex-direction: column;
        gap: 10px;
        max-width: none;
    }

    .modal-buttons {
        margin-top: 20px;
    }
}