
.switch-theme {
    position: absolute;
    top: 180px;
    // margin-right: 200px;
    right: 220px;
    // bottom: 20px;
    width: 49px;
    height: 25px;
    background-color: rgb(25, 26, 25);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--white);


// @media screen and (min-width: 768px) {
//     // right: 32px;
// }

&:hover,
&:focus {
    border: 1px solid var(--orange);
    // animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    // transform: translate3d(0, 0, 0);
    // backface-visibility: hidden;
    // perspective: 1000px;
}
}

// @keyframes shake {
//     10%,
//     90% {
//     transform: translate3d(-1px, 0, 0);
//     }

//     20%,
//     80% {
//     transform: translate3d(2px, 0, 0);
// }

// 30%,
// 50%,
// 70% {
//     transform: translate3d(-4px, 0, 0);
// }

// 40%,
// 60% {
//     transform: translate3d(4px, 0, 0);
// }
// }

#switch {
    position: absolute;
    display: none;
}

.switch-theme__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: translate 250ms ease;
}

input:checked ~ .switch-theme__slider {
    background-color: var(--white);
}

.switch-theme__slider::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 7px -4px 0px 0px #d8dbe0;
    background-color: rgb(25, 26, 25);
    transition: 0.6s;
}

input:checked ~ .switch-theme__slider::before {
    transform: translateX(23px);
    background-color: var(--orange);
    box-shadow: none;
}

// -------------------------------------------FOOTER AND MODAL SECTION ---------------------------------------------------------

.footer[data-theme="light"] {
    // padding: 30px 0;
    background-color: var(--white);
    // height: 100%;
    // border: 0;

//     // @media screen and (min-width: 768px) {
//     //     padding: 20px 0;
//     // }    
}

.footer[data-theme="dark"] {
    // padding: 30px 0;
    background-color: black;
    height: 100%;
    &[data-theme="dark"] 
    {
    border-top: 1px solid var(--orange);
    box-shadow: 0 0 14px 13px rgba(255,107,1,.425);
    animation: waveGlow 1.5s infinite alternate;
    }
}
    @keyframes waveGlow {
    0% {
        border-top-color: var(--orange);
        box-shadow: 0 0 7px 7px rgba(255,107,0,.425);
        border-bottom: 0;
    }
    100% {
        border-top-color: var(--orange);
        box-shadow: 0 0 7px 7px rgba(255,107,0,.625);
        border-bottom: 0;
    }
}


.footermodal {
    &[data-theme="light"] {
        color: var(--white);
    }

    &[data-theme="dark"] {
        color: rgb(20, 19, 19);
    }
}

.footertext {
    &[data-theme="light"] {
        background-color: #F7F7F7;
        color: #545454
    }

    &[data-theme="dark"] {
        background-color: transparent;
        color: var(--white);
    }
}

.modal-content-footer {
    &[data-theme="light"] {
        background-color: #F7F7F7;
        color: black;
    }

&[data-theme="dark"] {
    background-color: black;
    color: var(--white);
    }
}



