<footer class="footer">
    <p class="footertext">© 2024 | All Rights Reserved | Developed with
        <svg width="14" height="13">
            <use href="/src/images/heartfooter.svg#icon-heartfooter"></use>
        </svg>
        by <a href="javascript:void(0);" class="footermodal" data-modal-open>GoIT Students</a>
    </p>

    <!-- Modal -->
    <div class="modal is-hidden" id="myModal">
        <div class="modal-overlay">
            <div class="modal-content-footer">
                <span class="close">&times;</span>
                <h2 class="ourteam">Our Team</h2>
                <span id="prevMember" class="prev" title="Previous">&#10094;</span>
                <span id="nextMember" class="next" title="Next">&#10095;</span>
                <div class="team-members">
                    <div class="team-member">
                        <img src="/src/images/kenneth aguila.png" alt="Kenneth Aguila">
                        <h3>Kenneth Aguila</h3>
                        <p>Team Leader</p>
                        <a href="https://github.com/kaa1203" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>
                    </div>
                    <div class="team-member">
                        <img src="/src/images/Christian Delima.jpg" alt="Christian Delima">
                        <h3>Christian Delima</h3>
                        <p>Scrum Master</p>
                        <a href="https://github.com/chan0129" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>
                    </div>
                    <div class="team-member">
                        <img src="/src/images/Cyfred Odarve.jpg" alt="Cyfred Odarve">
                        <h3>Cyfred Odarve</h3>
                        <p>Developer</p>
                        <a href="https://github.com/cydarvs" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>

                    </div>
                    <div class="team-member">
                        <img src="/src/images/Geraldine Mailla.jpg" alt="Geraldine Mailla">
                        <h3>Geraldine Mailla</h3>
                        <p>Developer</p>
                        <a href="https://github.com/Dindin4987" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>

                    </div>
                    <div class="team-member">
                        <img src="/src/images/F. Verano ID pic.jpg" alt="Francis Verano">
                        <h3>Francis Verano</h3>
                        <p>Developer</p>
                        <a href="https://github.com/Francis06131221" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>
                    </div>
                    <div class="team-member">
                        <img src="/src/images/T05HQV9HLDC-U05PW1SBE4V-g2cedd79aada-512.png" alt="Asim 'Ayten'">
                        <h3>Asim 'Ayten'</h3>
                        <p>Developer</p>
                        <a href="" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>
                    </div>
                    <div class="team-member">
                        <img src="/src/images/Ruel Paya.png" alt="Ruel Paya">
                        <h3>Ruel Paya</h3>
                        <p>Developer</p>
                        <a href="" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>

                    </div>
                    <div class="team-member">
                        <img src="/src/images/Judielyn Pagente.jpg" alt="Judielyn Pagente">
                        <h3>Judielyn Pagente</h3>
                        <p>Developer</p>
                        <a href="https://github.com/jpagente" target="_blank"><img
                                src="/src/images/github-mark.png" alt="GitHub"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>