<div class="bg-color"
header class="header-bg">
<div class="container">
<div class="header-section">
    <nav class="navigation">
        <a class="navigation-logo">
            <svg class="movie-icon" width="24" height="24">
                <use href="images/movie-icon.png"></use>
            </svg>
            <span class="filmoteka">Filmoteka</span>
        </a>
        <ul class="side-navigation">
            <li class="side-navigation_item">
                <a href="" class="side-link_nav">Home</a>
            </li>
            <li class="library-item">
                <a href="./library.html" class="side-nav_library">My library</a>
            </li>
        </ul>
    </nav>
    <form class="search-form" id="search-form">
        <input type="text" name="query" autocomplete="off" placeholder="search movie" class="search"/>
        <button type="submit" class="search-button">
            <svg class="search-icon" width="12" height="12">
                <use href="images/Search_alt_light.svg"></use>
            </svg>
        </button>
    </form>
</div>
<div class="warning-header"></div>
<div class="search result-warning"></div>
</div>
</header>
</div>