<div class="bg-color"
header class="header-bg">
<div class="container">
<div class="header-section">
    <nav class="navigation">
        <a href="/index.html" class="navigation-logo">
            <svg class="movie-icon" width="24" height="24">
                <use href="src/images/movie-icon.png"></use>
            </svg>
            <span class="filmoteka">Filmoteka</span>
        </a>
        <ul class="side-navigation">
            <li class="side-navigation_item">
                <a href="" class="side-link_nav">Home</a>
            </li>
            <li class="library-item">
                <a href="./index.html" class="side-nav_library">library</a>
            </li>
        </ul>
    </nav>
    <form>
        <div role="group">
            <ul class="storage js-search">
                <li class="storage-item">
                    <label class="storage-label">
                        <input type="radio" name="storage-button" value="watched" class="storage-input"
                        checked
                        />
                        <span class="storage-button" id="js-Queuebutton">Queue</span>
                    </label>
                </li>
            </ul>
        </form>
        </div>
<div class="warning-header"></div>
<div class="search result-warning"></div>
</div>
</header>
</div>