<header>
    <div class="container">
        <nav class="nav-bar">
            <svg class="icon">
                <use href="./images/icons.svg?#film"></use>
            </svg>
            <h2 class="nav-logo">
                filmoteka
            </h2>

            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="nav-link active">home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">my library</a>
                </li>
            </ul>
        </nav>

        <form class="nav-form">
            <input type="text" name="search_bar" placeholder="Search movies..." class="nav-input">
            <button type="submit" name="search_button" class="nav-button">
                <svg class="icon">
                    <use href="./images/icons.svg?#search"></use>
                </svg>
            </button>
        </form>
    </div>
</header>