<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
</head>
<body>
    <div id="container">
        <ul id="list">
            <!-- Content will be dynamically added here -->
        </ul>
        <div id="pagination" class="pagination-container">
            <span id="prev" class="pagination-arrow">&lt;</span>
            <div id="pagination-links" class="pagination-links"></div>
            <span id="next" class="pagination-arrow">&gt;</span>
        </div>
    </div>
    <script type="module" src="./pagination.js"></script>
</body>
</html>