<div id="container">
    <section class="movie-section">
            <ul class="movie-list"></ul>
        </section>
    <div id="pagination" class="pagination-container">
        <span id="prev" class="pagination-arrow">
            <!-- Left arrow SVG icon -->
            <svg width="40" height="40">
                <use href="/src/images/icons.svg#arrowleft"></use>
            </svg>
        </span>
        <svg width="16" height="16">
            <use href="/src/images/icons.svg#ellipsis"></use>
        </svg>
        <div id="pagination-links" class="pagination-links"></div>
        <svg width="16" height="16" >
            <use href="/src/images/icons.svg#ellipsis"></use>
        </svg>
        <span id="next" class="pagination-arrow">
            <!-- Right arrow SVG icon -->
            <svg width="40" height="40">
                <use href="/src/images/icons.svg#arrowright"></use>
            </svg>
        </span>
    </div>
</div>