<div class="slide-wrap">
    <section class="container">
        <h2 class="slide-title">Trending movies</h2>
        <div class="glide-track" data-glide-element="track">
            <ul class="glide-slide js-slider-container">
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
                <li class="glide_slide"></li>
            </ul>
        </div>
        <div class="glide-arrow" data-glide-element="control">
            <button class="glide_arrow glide_arrow-left" data-glide-dir="<">
                prev
            </button>
            <button class="glide_arrow glide_arrow-right" data-glide-dir=">">
                next
            </button>
        </div>
    </div>
    </section>
</div>